// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.login , .signup {
    background-color: #fafafa;
    .illustration-box {
        background: url(/illustrations/login-illustration.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 100vh;
        height: 100%;
    }
    .or {
        background-color: #fafafa;
    }
}
.login-line , .signup {
    &::before, &::after  {
        content: "";
        height: 1px;
        // background-color: $color-light-gray;
        width: 50%;
    }
    span {
        width: 50px;
    }
}
